*{
    margin: 0;
    padding: 0;
}

html,body{
    font-family: sans-serif;
    height:100%;
  }
  
  :root{
    --lightPurple : #c38ff9;
    --darkPurple : #46028f;
  }


  button{
    background-color:var(--lightPurple);
    color:white;
    border: none;
    padding:5px;
    border-radius: 5px;
    cursor:pointer;
  }
  
  button:hover{
    background-color: var(--darkPurple);
  }


  #info{
    max-width:980px;
    margin: 0 auto;
   
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 16px 30px;
  }
  
  
  #scores{
    color: var(--lightPurple);
    background-color: white;
  }


  #positionWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }
  

  #intro{
    text-align:center;
  }
  

  

  #quizHolder button{
    
    margin: 3px 0;
    padding: 5px 5px ;
   display: block;
    width: 100%;
    text-align: left;
  }


  #quizHolder #title{
    font-weight:700;
  }


  #scoreIndicator, #errorIndicator{
    border-top: 1px solid #999;
    color: #41275e;
    font-size: 1.3em;
    margin: 0;
    font-style: italic;
    font-weight:700;
    margin: 10px auto;
  }
  
  #scoreIndicator p, #errorIndicator p{
  margin:0;
  margin-top:10px;
  }

  #highScores div div{
   
    padding: 5px;
    font-weight:600;
  }
  
  #highScores div div:nth-child(odd){
    background-color:#efe6f9;
  }
  
  #highScores button{
    margin:5px 0;
  }
  
  /* Section Specific Styles */
  
  
  section{
    max-width: 50%;
    margin: 0 auto;
  }

  #records input, #records button{
  margin-top:5px;
  }
  
  .hide{
    display:none;
  }
  
  .invisible{
    visibility:hidden;
  }
  
  .disable{
  pointer-events:none;
  }
  @media only screen and (min-width: 768px) {
  
    #positionWrapper{
      min-height: calc(100% - 82px)
    }
  
    #finish #records{
      display:flex;
      align-items: center;
    }
  
    #finish #records input, #finish #records button{
      margin-left:10px;
    }
  
    #info{
      flex-direction:row;
    }
  
    #quizHolder{
      min-width:420px;
    }
  
    #quizHolder ol{
      min-width:100%;
    }
  
  }