/* set default margin and padding o */
*{
    margin: 0;
    padding: 0;
}

/* for html and body fontfamily is sans-serif and height is 100% */
html,body{
    font-family: sans-serif;
    height:100%;
  }
  
/* declare varibale with values */
  :root{
    --lightPurple : #c38ff9;
    --darkPurple : #46028f;
  }

/* for all buttons property */
  button{
    background-color:var(--lightPurple);
    color:white;
    border: none;
    padding:5px;
    border-radius: 5px;
    cursor:pointer;
  }
  
/* on button hover its changes background-color of button */
  button:hover{
    background-color: var(--darkPurple);
  }

/*for introduction section values */
    #info{
    max-width:980px;
    margin: 0 auto;
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 16px 30px;
  }
  
/*header highscore button values */
#scores{
    color: var(--lightPurple);
    background-color: white;
  }

/*to display values in quiz use flex column */
#positionWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    }
  
/* text alignment center for starting text */
#intro{
    text-align:center;
  }

/*for questions button set values */
#quizHolder button{
    margin: 3px 0;
    padding: 5px 5px ;
    display: block;
    width: 100%;
    text-align: left;
  }

/*set title weight */
#quizHolder #title{
    font-weight:700;
  }

/*for display score and error set values */
#scoreIndicator, #errorIndicator{
    border-top: 1px solid #999;
    color: #999 ;
    font-style: italic;
    margin: 10px auto;
  }

/* for score and error paragraph tag set margin-top 10px */
#scoreIndicator p, #errorIndicator p{
   margin-top:10px;
  }

/* for value of highscore set padding and weight */
#highScores div{
    padding: 5px;
    font-weight:200;
  }
  
/* for every odd entry in highscore it sets background color */
#highScores div div:nth-child(odd){
    background-color:#efe6f9;
  }
  
/*set margin value for highscore button */ 
#highScores button{
    margin:5px 0;
  }
  
/* Section Specific Styles */
/*every section max-width is 50% and its margin is 0*/
section{
    max-width: 50%;
    margin: 0 auto;
  }

/* for input and button of records its set margin-top 5px */
#records input, #records button{
  margin-top:5px;
  }
  
/* for all class .hide it display none means dont show any value */  
.hide{
    display:none;
  }
  
 /* for invisible class it sets value hidden */ 
.invisible{
    visibility:hidden;
 }
  
/*for disable class it sets pointer is none */ 
.disable{
  pointer-events:none;
}

/*setting for media when min-width is 768px */
@media only screen and (min-width: 768px) {
  
    #positionWrapper{
      min-height: calc(100% - 82px)
    }
  
    #finish #records{
      display:flex;
      align-items: center;
    }
  
    #finish #records input, #finish #records button{
      margin-left:10px;
    }
  
    #info{
      flex-direction:row;
    }
  
    #quizHolder{
      min-width:420px;
    }
  
    #quizHolder ol{
      min-width:100%;
    }
  
  }